/* Imports */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap'); /* Libre Baskerville Bold 700 (font-family: 'Libre Baskerville', serif;)*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); /* Poppins Semi-bold 600 (font-family: 'Poppins', sans-serif;)*/
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap'); /* Bitter Regular 400 (font-family: 'Bitter', serif;)*/

/* Site-wide */
* {
    background-color: black;
    font-family: 'Bitter', serif;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* Main text-types */
.page_header, h1, h2 {
    font-family: 'Libre Baskerville', serif;
}

.page_title, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

.page_content, h5, h6 {
    font-family: 'Bitter', serif;
}

/* Navigation */
.nav_title {
    font-size: 20px;
    display: flex;
}

li, a {
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}

.nav_links li {
    font-size: 16px;
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a, .nav_title {
    transition: hover 0.3s ease 0s;
    -webkit-transition: hover 0.3s ease 0s;
    -moz-transition: hover 0.3s ease 0s;
    -ms-transition: hover 0.3s ease 0s;
    -o-transition: hover 0.3s ease 0s;
}

.nav_links li a:hover, .nav_title:hover {
    color: #a7a7a7
}

/* Temporary content */
img {
    width: 100%;
}

/* Footer */
.footer_main {
    display: block;
    justify-content: space-between;
    padding: 1.5rem 1rem 1rem 1rem;
    text-align: center;
}

.footer_email {
    font-weight: normal;
}

.footer_accounts i {
    margin: 1.5rem 0.6rem 0.7rem 0.6rem;
}

footer hr {
    opacity: 0.8;
}

.copyright {
    padding: 0.5rem;
    text-align: center;
    font-size: 12px;
}