/* Imports */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap'); /* Libre Baskerville Bold 700 (font-family: 'Libre Baskerville', serif;)*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); /* Poppins Semi-bold 600 (font-family: 'Poppins', sans-serif;)*/
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap'); /* Bitter Regular 400 (font-family: 'Bitter', serif;)*/

/* Site-wide */
* {
    background-color: black;
    font-family: 'Bitter', serif;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-image: url(imgs/RomeStatue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Main text-types */
.page_header, h1, h2 {
    font-family: 'Libre Baskerville', serif;
}

.page_title, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

.page_content, h5, h6 {
    font-family: 'Bitter', serif;
}

/* General animations */
.hover_animation_text {
    transition: hover 0.3s ease 0s;
    -webkit-transition: hover 0.3s ease 0s;
    -moz-transition: hover 0.3s ease 0s;
    -ms-transition: hover 0.3s ease 0s;
    -o-transition: hover 0.3s ease 0s;
} .hover_animation1:hover {
    color: #a7a7a7
}


/* Navigation */
.nav_title {
    font-size: 20px;
    display: flex;
}

li, a {
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    position: sticky;
    z-index: 10;
    top: 0;
}

.nav_menu li {
    font-size: 16px;
    display: inline-block;
    padding: 0px 20px;
}

.nav_hamburger {
    display: none;
    cursor: pointer;
}

.nav_hamburger_bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    background-color: white;
}


@media screen and (max-width: 768px) {
    .nav_hamburger {
        display: block;
    }

    .nav_hamburger.active .nav_hamburger_bar:nth-child(2) {
        opacity: 0;
    }
    .nav_hamburger.active .nav_hamburger_bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        -webkit-transform: translateY(8px) rotate(45deg);
        -moz-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        -o-transform: translateY(8px) rotate(45deg);
}   
    .nav_hamburger.active .nav_hamburger_bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -moz-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        -o-transform: translateY(-8px) rotate(-45deg);
    }

    .nav_menu {
        position: fixed;
        display: block;
        z-index: 10;
        left: -100%;
        top: 55px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }

    .nav_item {
        margin: 16px 0;
    }

    .nav_menu.active {
        left: 0;
    }
}




/* Homepage intro section */
.homepage_intro_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    margin-top: 300px;
    margin-bottom: 300px;
}

.homepage_intro_container {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    padding: 15px 20px 20px 20px;
    
}

.homepage_intro_header {
    display: inline;
    text-align: center;
}

.homepage_intro_title {
    font-size: 14px;
    word-spacing: 5px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .homepage_intro_title {
        display: none;
    }
}

.homepage_intro_button {
    display:block;
    margin: 25px auto 0px auto;
    padding: 1.1em 3em;
    font-size: 12px;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    outline: none;
    transition: hover;
    -webkit-transition: hover;
    -moz-transition: hover;
    -ms-transition: hover;
    -o-transition: hover;
}

.homepage_intro_button:hover {
    background-color: black;
    color: white;
}
  
/* Homepage about me section */
.homepage_about_row {
    display: flex;
}
.homepage_about_column {
    flex: 50%;
}

.homepage_about_portait {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: 10% 10%;
}

.homepage_about_column_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage_about_section {
    margin-top: 300px;
    margin-bottom: 20px;
}

.homepage_about_container {
    font-size: 2rem;
    text-align: center;
    padding: 15px 50px 20px 50px;
    
}

.homepage_about_header {
    display: inline;
    text-align: center;
}

.homepage_about_title {
    font-size: 14px;
    word-spacing: 5px;
    margin-top: 10px;
}


/* Homepage gallery section */
.homepage_gallery_section {
    background-color: transparent;
}

.homepage_gallery_section div {
    background-color: transparent;
}

.homepage_gallery_grid {
    --gap: 12px;
    --num-cols: 4;
    --row-heigth: 300px;

    box-sizing: border-box;
    padding: var();

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-heigth);
    gap: var(--gap);
    margin-bottom: 10px;
}

.homepage_gallery_grid > a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homepage_gallery_grid-col-2 {
    grid-column: span 2;
}

.homepage_gallery_grid-row-2 {
    grid-row: span 2;
}

@media screen and (max-width: 1024px) {
    .homepage_gallery_grid {
        --num-cols: 2;
        --row-heigth: 200px;
    }
}


/* About-page about me section */
.about_about_row {
    display: flex;
}
.about_about_column {
    flex: 50%;
}

.about_about_portait {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: 10% 10%;
}

.about_about_column_text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_about_section {
    margin-bottom: 20px;
}

.about_about_container {
    font-size: 2rem;
    text-align: center;
    padding: 15px 50px 20px 50px;
    
}

.about_about_header {
    display: inline;
    text-align: center;
}

.about_about_title {
    font-size: 14px;
    word-spacing: 5px;
    margin-top: 10px;
}


/* Projects-page gallery section */
.projects_gallery_section {
    background-color: transparent;
}

.projects_gallery_section div {
    background-color: transparent;
}

.projects_gallery_grid {
    --gap: 12px;
    --num-cols: 4;
    --row-heigth: 300px;

    box-sizing: border-box;
    padding: var();

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-heigth);
    gap: var(--gap);
    margin-bottom: 10px;
}

.projects_gallery_grid > a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projects_gallery_grid-col-2 {
    grid-column: span 2;
}

.projects_gallery_grid-row-2 {
    grid-row: span 2;
}

.projects_gallery_section a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
}

.projects_gallery_section h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    text-shadow: 4px 3px 2px #000000;
    background-color: transparent;
}

@media screen and (max-width: 1024px) {
    .projects_gallery_grid {
        --num-cols: 2;
        --row-heigth: 200px;
    }

    .projects_gallery_section h2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 1300px) {
    .projects_gallery_section h2 {
        font-size: 50px;
    }
}







/* Footer */
.footer_main {
    display: block;
    justify-content: space-between;
    padding: 1.5rem 1rem 1rem 1rem;
    text-align: center;
}

.footer_email {
    font-weight: normal;
    font-size: 13px;
}

.footer_accounts i {
    margin: 1.5rem 0.6rem 0.7rem 0.6rem;
}

footer hr {
    opacity: 0.8;
}

.copyright {
    padding: 0.5rem;
    text-align: center;
    font-size: 12px;
}